<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="static/css/style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title"> predict heart cancer</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">AGE</span>
            <input type="text" placeholder="Enter your AGE" required>
          </div>

          <div class="input-box">
            <span class="details">SEXE</span>
            <input type="text" placeholder="Enter your SEXE" required>
          </div>

          <div class="input-box">
            <span class="details">TDT</span>
            <input type="text" placeholder="Enter your TDT" required>
          </div>
          <div class="input-box">
            <span class="details">PAR</span>
            <input type="text" placeholder="Enter your PAR" required>
          </div>
          <div class="input-box">
            <span class="details">CHOLESTEROL</span>
            <input type="text" placeholder="Enter your CHOLESTEROL" required>
          </div>
          <div class="input-box">
            <span class="details">GAJ</span>
            <input type="text" placeholder="Confirm your GAJ" required>
          </div>
       
          <div class="input-box">
            <span class="details">ECG</span>
            <input type="text" placeholder="Enter your ECG" required>
          </div>
          <div class="input-box">
            <span class="details">FCMAX</span>
            <input type="text" placeholder="Enter your FCMAX" required>
          </div>
          <div class="input-box">
            <span class="details">ANGINE</span>
            <input type="text" placeholder="Enter your ANGINE" required>
          </div>
          <div class="input-box">
            <span class="details">DEPRESSION</span>
            <input type="text" placeholder="Enter your DEPRESSION" required>
          </div>
          <div class="input-box">
            <span class="details">PENTE</span>
            <input type="text" placeholder="Enter your PENTE" required>
          </div>

        </div>
        <div class="button">
          <input type="submit" value="Predicted">
        </div>
      </form>
    </div>
    <br>

  </div>
  {{ prediction }}
</body>
</html>

										